body{
  background-color: #FFFFFF;
  color: #334C80;
  font-family: Arial;
}
.header{
  display:inline-block;
}
#pfcc{
text-align: center;
margin: 20px;
}
table{
  width:1000px;
  border: solid 4px #334C80;
}
#bio{
  background-color:  #E0EBFF;
}
th{
  font-size:20px;
}
td{
  margin:5px, 5px, 5px, 5px;
}
.odd{
  background-color: #E0EBFF;
}
.even{
  background-color:	#C2D6FF;
}
.heading{
  background-color: #85ADFF;
}