.Intro{
  width:1000px;
}
.bio{
  width:1000px;
  background-color:#D1E0FF;
  border:white;
}
table{
  border: solid 4px #334C80;
}
body{
  background-color: #FFFFFF;
  color: #334C80;
  font-family: Arial;
}
.header{
  display:inline-block;
}
th{
  font-size:20px;
}
td{
  margin:5px, 5px, 5px, 5px;
}
.odd{
  background-color:#E0EBFF;
}
.even{
  background-color:	#C2D6FF;
}
.heading{
  background-color:#85ADFF;
}
.pTopics{
  width:1000px;
}