.Intro{
  width:1000px;
}
.bio{
  width:1000px;
  background-color:#D1E0FF;
  border:white;
}
table{
  border: solid 1px white;
}
body{
  background-color:#E0EBFF;
  color:	#334C80;
  font-family:Arial;
}
.header{
  display:inline-block;
}
th{
  font-size:20px;
}
td{
  margin:5px, 5px, 5px, 5px;
}
.odd{
  background-color:#E0EBFF;
}
.even{
  background-color:	#C2D6FF;
}
.heading{
  background-color:#85ADFF;
}
h1.header({radius: 300})
